<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ganimusicapp">

    <!-- ✅ Permissions -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <!-- Backward compatibility -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="GaniMusicApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">

        <!-- ✅ Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MusicService" />

        <!-- 🎵 Player Activity (Spotify-like screen) -->
        <activity
            android:name=".PlayerActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

    </application>
</manifest>
